<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="header.html :: copy">
    <title>Cart</title>
</head>

<body>

<div class="jumbotron text-center">
    <h1><i class="fa fa shopping-cart"></i> Shopping Cart</h1>

    <div class="card">
        <strong>Cart content</strong>
        <h5 th:text="${totalItems}"> cart</h5>
    </div>


    <div class="row" th:each="index : ${#numbers.sequence( 0, #arrays.length(cart)-1)}">
        <div class="col col-sm-12 col-md-6 col-lg-4" id="productss">
            <div class="name" th:if="${cart.size() != 0}">
                <h5 th:text="${cart[index].name}"> Product name</h5>
                <form action="/cart" method="post">
                    <input type="hidden" name="index" th:value="${index}">
                    <input type="hidden" name="original-qty" th:value="${quantities[index]}">
                    <input type="hidden" name="product_id" th:value="${cart[index].id}">
                    <input type="number" id="quantity" name="quantity" min="0" max="5" th:value="${quantities[index]}">
                    <button type="submit"><i class="fa fa-check" aria-hidden="true" style="color: #4b8f29"></i></button>
                </form>
            </div>
            <div class="price" th:if="${cart.size() != 0}">
                <h5 th:text="${cart[index].price + cart[index].getDefaultCurrency() }">Product price</h5>
            </div>
        </div>
    </div>

    <div>
        <p> Total</p>
        <p th:text="${totalPrice}  + ' USD'"> Total</p></div>
    <form action="/check-out" method="POST">
        <input type="hidden" name="namesAndQuantities" th:value="${namesAndQuantities}">
        <input type="hidden" name="total" th:value="${totalPrice + ' USD'}">
        <button type="submit" id="checkout" class="btn-huge">Check out</button>
    </form>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>