<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header.html :: copy">
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.14.0.min.css" />
    <title>Check Out</title>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Check out</h1>

    <div class="container prod" style="margin-left: 700px;">
        <div>
            <form class="credit-card" action="/order" method="POST">
                <br><br>
                <label for="fname"><i class="fa fa-user">First name:</i></label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname"><i class="fa fa-user">Last name:</i></label>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="email"><i class="fa fa-envelope">E-mail:</i></label>
                <input type="text" id="email" name="email"><br><br>
                <label for="phone"><i class="fa fa-phone">Phone:</i></label>
                <input type="text" id="phone" name="phone"><br><br>
                <label for="address"><i class="fa fa-address-card-o">Address:</i></label>
                <input type="text" id="address" name="address"><br><br>
                <button class="proceed-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div th:replace="footer.html :: copy"></div>
</div>
</body>
</html>