<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: copy">
    <link rel="stylesheet" type="text/css" href="/static/css/shipping.css"/>
    <title>Confirmation</title>
</head>


</head>
<body>
<div id="slider">
    <header class="header-login-signup">

        <div class="header-limiter">

            <h1><a href="/" style="color: #212529">Codecool <span style="color: #212529"> Beauty</span></a></h1>

            <nav>
                <a href="#" style="color: #212529">Shop</a>
                <a href="#" class="selected" style="color: #212529">Blog</a>
                <a href="#" style="color: #212529">Pricing</a>
            </nav>

            <ul>
                <li><a href="#" style="color: #212529">Login</a></li>
                <li><a href="#" style="color: #212529">Sign up</a></li>
                <li><a class="btn btn-sm btn-info display-4 " href="/cart"> <i class="fa fa-shopping-cart fa-2x"
                                                                               style="color: #eeeeee"></i></a></li>
            </ul>


        </div>

    </header>
    <img src="static/img/header_confirmation.jpg" width="100%" height="400px">
    <h1 id="text-details">Homemade Products</h1>
    <img  id="vegan-logo-details" src="static/img/vegan_logo.png">
</div>


<div class="wrapper" style="width: 45%;margin-left: 512px;">
    <div class="container" style=" padding: 4% 5%;width: 700px">
        <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125"
             height="120" style="display: block; border: 0px; margin-left:220px"/><br>
        <div style="margin-left: 80px">
            <h2 style="font-size: 35px; font-weight: 800; line-height: 36px; color: #333333; margin: 0; padding: 20px">
                Thank You For Your Order! </h2>
        </div>
        <div>
            <h4 style=" padding: 60px 0 60px;text-align: center;">We are getting started on your order right away and you will receive an
                order confirmation email shortly. </h4>

        </div>

        <table style="width: 100%; margin-left:0px;">
            <tr>
                <td align="center" style=" padding: 35px; background-color: #ea9090;" bgcolor="#1b9ba3">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                           style="max-width:600px;">
                        <tbody>
                        <tr>
                            <td align="center"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                <h2 style="font-size: 24px; font-weight: 800; line-height: 30px; color: #ffffff; margin-right: 20px;">
                                    Get 30% off your next order. </h2>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 25px 0 15px 0;">
                                <table border="0" cellspacing="0" cellpadding="0" style="margin-left: 0px; margin-right: 30px;">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="border-radius: 5px;"><a
                                                href="/"
                                                target="_blank"
                                                style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #de5b5b; padding: 15px 30px; border: 1px solid #481c19; display: block;">Shop
                                            Again</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<!--<div th:replace="footer.html :: copy"></div>-->

</html>