<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <!--        <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shipping.css"/>
    <title>Shipping Details</title>

</head>
<body>
<div id="slider">
    <header class="header-login-signup">

        <div class="header-limiter">

            <h1><a href="/">Codecool <span> Shop</span></a></h1>

            <nav>
                <a href="#">Shop</a>
                <a href="#" class="selected">Blog</a>
                <a href="#">Pricing</a>
            </nav>

            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a class="btn btn-sm btn-info display-4 " href="/cart"> <i class="fa fa-shopping-cart fa-2x"
                                                                               style="color: #eeeeee"></i></a></li>
            </ul>


        </div>

    </header>
    <img src="static/img/header_2x.jpg" width="1835px" height="400px">
</div>
<div class="wrapper" style="width: 45%;margin-left: 512px;">
    <div class="container" style=" padding: 4% 5%;width: 700px">
        <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png" width="125"
             height="120" style="display: block; border: 0px; margin-left:220px"/><br>
        <div style="margin-left: 80px">
            <h2 style="font-size: 35px; font-weight: 800; line-height: 36px; color: #333333; margin: 0; padding: 20px">
                Thank You For Your Order! </h2>
        </div>
        <div>
            <h4 style=" padding: 60px 0 60px;text-align: center;">We are getting started on your order right away and you will receive an
                order confirmation email shortly. </h4>

        </div>

        <table style="width: 100%">
            <tr>
                <td align="center" style=" padding: 35px; background-color: #ea9090;" bgcolor="#1b9ba3">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                           style="max-width:600px;">
                        <tbody>
                        <tr>
                            <td align="center"
                                style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                <h2 style="font-size: 24px; font-weight: 800; line-height: 30px; color: #ffffff; margin: 0;">
                                    Get 30% off your next order. </h2>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 25px 0 15px 0;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="border-radius: 5px;" bgcolor="#66b3b7"><a
                                                href="/"
                                                target="_blank"
                                                style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #de5b5b; padding: 15px 30px; border: 1px solid #481c19; display: block;">Shop
                                            Again</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<!--<div th:replace="footer.html :: copy"></div>-->

</html>