<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header.html :: copy">
    <script src="static/js/carousel.js" defer></script>
    <title>Codecool Shop</title>
</head>


<body>
<div id="slider">
    <header class="header-login-signup">

        <div class="header-limiter">

            <h1><a href="/" style="color: #212529">Codecool <span style="color: #212529"> Beauty</span></a></h1>

            <nav>
                <a href="#" style="color: #212529">Shop</a>
                <a href="#" class="selected" style="color: #212529">Blog</a>
                <a href="#" style="color: #212529">Pricing</a>
            </nav>

            <ul>
                <li><a href="#" style="color: #212529">Login</a></li>
                <li><a href="#" style="color: #212529">Sign up</a></li>
                <li><a class="btn btn-sm btn-info display-4 " href="/cart"> <i class="fa fa-shopping-cart fa-2x"
                                                                               style="color: #eeeeee"></i></a></li>
            </ul>

        </div>
    </header>
    <h1 id="banner-text">Homemade Products</h1>
    <img  id="vegan-logo" src="static/img/vegan_logo.png">
    <figure>
        <img src="static/img/header_1.jpg">
        <img src="static/img/header_2.jpg">
        <img src="static/img/header_3.jpg">
        <img src="static/img/header_4.jpg">
        <img src="static/img/header_3.jpg">
    </figure>
</div>


<div>
    <h1 class="prod-title">Products</h1>
</div>

<div class="filter">
    <form action="/" method="POST">
        <h5>Filter by:</h5>
        <div class="select">
            <label>
                <select name="sort_category">
                    <option value="choose_category" style="display: none">Choose category</option>
                    <option th:each="cat,iterStat : ${category}" th:text="${cat.name}">cat</option>
                </select>
            </label>
        </div>
        <h5>Sort by:</h5>
        <div class="select">
            <label>
                <select name="sort_supplier">
                    <option value="choose_supplier" style="display: none">Choose supplier</option>
                    <option th:each="supp,iterStat : ${suppliers}" th:text="${supp.name}">cat</option>
                </select>
            </label>
            <button type="submit">Filter <i class="fa fa-filter" aria-hidden="true"></i></button>
        </div>
    </form>
</div>


    <script>
        let button = document.getElementById("bttn");

        function handleForm(event) {
            event.preventDefault();
        }

        button.addEventListener('click', handleForm);
        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAA");
    </script>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="prod mbr-gallery-item">
                <img class="" width="320px" height="250px" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="card-header">

                    <form id="product_form" action="/details" method=post>
                        <input type="hidden" name="product" th:value="${prod.id}">
                        <button style=" padding: 10px;border: none; background-color: #cc9393; margin-left:70px; margin-bottom: 10px; color: black"
                                type="submit">
                            Product details
                        </button>
                    </form>
                    <form style="float: right" action="/cart" method="post">
                        <input type="hidden" name="add_product" th:value="${prod.id}">
                        <button id="bttn" style="border: none; background:none" type="submit"><i
                                class="fa fa-cart-plus fa-3x"
                                style="color: black"
                                aria-hidden="true"></i>
                        </button>
                    </form>
                    <h3 class="card-title" th:text="${prod.name}"> Product name</h3>

                    <h6 class="lead price-index" th:text="${prod.getPrice() + ' '+ prod.getDefaultCurrency()}">100
                        USD</h6>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
</div>
<div th:replace="footer.html :: copy"></div>

</body>
</html>