<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header.html :: copy">
    <script src="static/js/carousel.js" defer></script>
    <title>Codecool Shop</title>
</head>


<body>

<div id="slider">
    <!--    <div class="jumbotron text-center">-->
    <h1>Codecool Shop</h1>
    <a class="btn btn-sm btn-info display-4 cart-btn" href="/cart"> <i class="fa fa-shopping-cart fa-2x"
                                                                       style="color: #eeeeee"></i>
    </a>
    <!--    </div>-->
    <figure>
        <img src="static/img/product_1.jpg">
        <img src="static/img/product_2.jpg">
        <img src="static/img/product_3.jpg">
        <img src="static/img/product_4.jpg">
    </figure>
</div>


<div class="container">
    <div class="card">
        <form action="/" method="POST">
            <label>
                <select name="sort_category">
                    <option value="choose_category">Choose category</option>
                    <option th:each="cat,iterStat : ${category}" th:text="${cat.name}">cat</option>
                </select>
            </label>
            <label>
                <select name="sort_supplier">
                    <option value="choose_supplier">Choose supplier</option>
                    <option th:each="supp,iterStat : ${suppliers}" th:text="${supp.name}">cat</option>
                </select>
            </label>
            <button type="submit">Filter <i class="fa fa-filter" aria-hidden="true"></i></button>
        </form>
    </div>


    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="prod mbr-gallery-item">
                <img class="" width="320px" height="250px" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="card-header">
                    <h3 class="card-title" th:text="${prod.name}">Product name</h3>
                    <form style="float: right" action="/cart" method="post">
                        <input type="hidden" name="add_product" th:value="${prod.id}">
                        <button type="submit"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
                        </button>
                    </form>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                    <h6 class="lead price-index" th:text="${prod.getPrice() + ' '+ prod.getDefaultCurrency()}">100 USD</h6>
                </div>
                <!--                <div class="card-body">-->
                <!--                    <div class="card-text">-->
            </div>

            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>

</div>
<div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
</div>
<div th:replace="footer.html :: copy"></div>

</body>
</html>