<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="header.html :: copy">
    <title>Payment</title>
    <script src="static/js/payment.js" defer></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Payment</h1>

    <h4>Payment method</h4>
    <div class="card">
        <input type="checkbox" name="paypal" id="paypal">
        <label for="paypal"> Paypal</label><br>
    </div>
    <div class="card">
        <input type="checkbox" name="credit_card" id="credit_card">
        <label for="credit_card"> Credit card</label><br>
    </div>
</div>

    <div>
        <form action="/payment" method="POST">
            <button type="submit">Continue</button>
        </form>
    </div>


    <div th:replace="footer.html :: copy"></div>
</body>
</html>