<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: copy">
    <script src="static/js/carousel.js" defer></script>
    <title>Codecool Shop</title>
</head>

<body>
<div id="slider">
    <header class="header-login-signup" id="myHeader">

        <div class="header-limiter">

            <h1><a href="#" style="color: #212529">Codecool <span style="color: #212529"> Beauty</span></a></h1>

            <nav>
                <a href="#" style="color: #212529">Shop</a>
                <a href="#" class="selected" style="color: #212529">Blog</a>
                <a href="#" style="color: #212529">Pricing</a>
            </nav>

            <ul>
                <li><a href="#" style="color: #212529">Login</a></li>
                <li><a href="#" style="color: #212529">Sign up</a></li>
                <li><a class="btn btn-sm btn-info display-4 " href="/cart"> <i class="fa fa-shopping-cart fa-2x"
                                                                               style="color: #eeeeee"></i></a></li>
            </ul>
        </div>
    </header>
    <img src="static/img/header_product_details.jpg" width="100%" height="400px">
    <h1 id="text-details">Homemade Products</h1>
    <img  id="vegan-logo-details" src="static/img/vegan_logo.png">
</div>


<div id="body-wrapper" style="padding: 100px; background-color: #fff2fa">
    <section>
        <div style="padding:0px 300px;" class="card detailed-view">
            <br><br>
            <div class="row">
                <img class="" style="float: left" width="600px" height="485px"
                     src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${product.id} + '.jpg'" alt=""/>
                <div class="col col-twothird" style="  padding-top: 87px;
    padding-left: 60px;
    width: 35%;">
                    <h2 th:text="${product.getName()}">Product Name</h2>
                    <p class="small grayed" th:text="'Category: ' + ${product.getProductCategory().getName()}">Category<span
                            class="separator">|</span>
                    <p class="small grayed" th:text="'Supplier: ' + ${product.getSupplier().getName()}">Supplier
                    </p>

                    <h6 th:text="${product.getDescription()}">Description</h6>
                    <p><b>Price: </b>&nbsp;<a th:text="${product.getPrice() + ' '+ product.getDefaultCurrency()}">Tim
                        Miller</a></p>
                    <form style="float: right" action="/cart" method="post">
                        <input type="hidden" name="add_product" th:value="${product.id}">
                        <button style="margin-right: 357px; float: left; background: black; height: 40px;width:100px;color:white" type="submit">
                                <i class="fa fa-cart-plus fa-2x" aria-hidden="true">    </i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="woocommerce-tabs wc-tabs-wrapper">
                <ul class="tabs wc-tabs" role="tablist">
                    <li class="local_1_tab active" id="tab-title-local_1" role="tab" aria-controls="tab-local_1">
                        Ingredients :</li>
                </ul>
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--local_1 panel entry-content wc-tab"
                     id="tab-local_1" role="tabpanel" aria-labelledby="tab-title-local_1" style="display: block;"><p>
                    Ingredients: Sodium Palmate * (RSPO Sustainable Palm Oil), Sodium Palm Kernelate * (RSPO Sustainable
                    Palm Kernal Oil), Aqua (Water), Glycerin, Parfum (a blend made only from essential oils including
                    orange, grapefruit, may chang, spearmint, lemon and lavender), Limonene, Sodium Citrate (Sodium salt
                    derived from Citric Acid), Sodium Chloride (Salt), Citral, Tetrasodium Gluatamate Diacetate, Citric
                    Acid, Linalool.</p>
                    <p>* Made with 100% RSPO certified segregated sustainable Palm Oil and Palm Kernal Oil.</p>
                    <p>99.94% Natural</p></div>
            </div>
        </div>

    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>

</html>