.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

/*button {*/
/*    box-shadow: 0px 10px 14px -7px #3e7327;*/
/*    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);*/
/*    background-color: #77b55a;*/
/*    border-radius: 4px;*/
/*    border: 1px solid #4b8f29;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    color: #ffffff;*/
/*    font-family: Arial;*/
/*    font-size: 13px;*/
/*    font-weight: bold;*/
/*    padding: 6px 12px;*/
/*    text-decoration: none;*/
/*    text-shadow: 0px 1px 0px #5b8a3c;*/
/*}*/

/*button:hover {*/
/*    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);*/
/*    background-color: #72b352;*/
/*}*/

/*button:active {*/
/*    position: relative;*/
/*    top: 1px;*/
/*}*/

/*.container {*/
/*    background-color: #f2f2f2;*/
/*    padding: 5px 20px 15px 20px;*/
/*    border: 1px solid lightgrey;*/
/*    border-radius: 3px;*/

/*}*/

.pay {
    font-size: larger;
    display: block;
    width: 700px;
}

.prod {
    height: 470px;
    width: 360px;
    /*margin: 20px;*/
    padding: 20px;
}

.name {
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
}

.description {
    margin-top: 50px;
    margin-left: 20px;
    width: 250px;
}

.price {
    margin-top: 70px;

    margin-left: 90px;
    float: right;
}

#productss {
    margin-left: 180px;
    width: 850px;
    display: flex;
}

* {
    box-sizing: border-box
}


.pay-pal {
    width: 600px;
    margin: 0px 0px 200px 200px;
}

.credit-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}

.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}

.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}

.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.month select {
    float: left;
}

.year select {
    float: right;
}

.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}

.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}

.cvv-details p {
    margin-top: 6px;
}

.paypal-btn,
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}

.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}

.paypal-btn a,
.proceed-btn a {
    text-decoration: none;
}

.proceed-btn a {
    color: #fff;
}

.paypal-btn a {
    color: rgba(242, 242, 242, .7);
}

.paypal-btn {
    padding-right: 95px;
}

body {
    font-family: 'Comfortaa';
    font-style: normal;
    line-height: 1.5;
}

.cid-rbaMy1tJOl .mbr-shop .mbr-gallery-item {
    left: 0 !important;
    top: 0 !important;
    vertical-align: top;
    position: relative !important;
    -webkit-transform: none !important;
    transform: none !important;
    padding: 10px;
}

.mbr-gallery .mbr-gallery-item {
    position: relative;
    display: inline-block;
    width: 25%;
    cursor: pointer;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: none;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    height: 600px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.head {
    font-size: 2.5rem;
    position: absolute;
    z-index: 10;
    color: white;
    padding-top: 50px;
}

.btn-info, .btn-info:active, .btn-info.active {
    background-color: #ffa0a4 !important;
    border-color: #ffa0a4 !important;
    color: #ffffff !important;
    border-radius: 10px;
}

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s, .3s, .3s, .8s;
    transition-timing-function: ease-in-out;
}

.btn-info {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.btn-sm {
    border: 1px solid;
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
}


.cart-btn {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    margin-left: 1700px;
    margin-top: 15px;
    border-radius: 50px;
}


.price-index {
    font-size: medium;
}

.detailed-view .poster {
    max-width: 200px;
}


.header-login-signup .header-limiter ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
}

.header-login-signup .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: left;
    margin: 0 0 0 60px;
    padding: 0;
}

.header-login-signup .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-login-signup .header-limiter {
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}

.header-login-signup {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    padding-top: 40px;
}

.header-login-signup .header-limiter ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
    margin-left: 569px;
}

.header-login-signup .header-limiter ul li {
    display: inline-block;
    margin-left: 15px;
    opacity: 0.9;
}

.prod-title {
    margin: 100px 100px 100px 800px;
    align-content: center;
    font-size: 65px;
}

.prod-title-detailed {
    margin: 100px 100px 100px 300px;
    align-content: center;
    font-size: 65px;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: both;
}

.woocommerce-tabs {
    border: 1px solid #5b5459;
    margin: 40px 0;
    padding: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative;
}

.woocommerce-tabs .panel {
    margin: 0 2em 2em 20% !important;
    text-align: left;
    padding: 0 0 0 2em !important;
    font-weight: 100;
}

.woocommerce-tabs ul.tabs {
    width: 20%;
    float: left;
}

.woocommerce-tabs ul, ul li {
    font-family: museo-sans;
    letter-spacing: 1px;
    font-weight: 300;
}

/* The sticky class is added to the header with JS when it reaches its scroll position /
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/ Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
}

.gfieldset_style h2, .gfieldset_style h2.woocommerce-loop-category__title {
    display: inline-block;
    width: auto;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    background-color: #fff;
    padding: 0 20px;
    font-size: 2.5em;
}

#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce-checkout .cart-collaterals .cart_totals table {
    border-collapse: separate;
    margin: 0 0 6px;
    padding: 0;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    width: 700px;
    margin-left: 626px;
}

table{
    margin-left: 50px;
    width:500px;
}

tr {
    display: table-row;
    vertical-align: inherit;
}

td, th {
    padding: 25px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: medium;
}

.page-content{
    display: flex;
    background-color: white;
}

.quantity{
    width:100px;
}

.discount{
    width: 500px;
    margin-left: 50px;
}

.cart-contents{
    margin-left:50px;
}

.cart-totals{
    padding-top: 100px;
    float: right;
    background-color: white;
    padding-right: 110px;
}


